html{
	font-size: 25px;
	margin: 0;
	padding: 0;
	font-size: 25px;
}
body{
	
	font-family: 'Handlee',cursive;
	background-color: #efefef;
	padding: 10px;
	margin: 0;
}
h1
{
	
	color: #20bcd5;
   text-align: center;
   font-size: 50px;
}
img{
	height: 500px;
	width: 500px;
	display: block;
	margin-right: auto;
	margin-left: auto;

}
#first
{

	font-size: 25px;
	
}
#second
{
font-size: 25px;
text-align: right;	
}
#link1{

text-align: left;
}
#link2{
	text-align: right;
}
table{
	text-align: center;
}
p{
	padding: 0;
	margin: 0;
}